project_id               = "your-gcp-project-id"
organization_id          = "your-org-id"
region                   = "asia-southeast1"
zone                     = "asia-southeast1-a"
ssh_source_cidr          = "x.x.x.x/32"
victim_service_account_id = "victim-employee"
soar_service_account_id   = "soar-orchestrator-sa"
