project_id                = "your-gcp-project-id"
project_number            = ""
organization_id           = "your-org-id"
region                    = "asia-southeast1"
zone                      = "asia-southeast1-a"
ssh_source_cidr           = "x.x.x.x/32"

gemini_api_key            = "your-gemini-api-key"
openai_api_key            = "your-openai-api-key"
tele_bot_token            = "your-telegram-bot-token"
tele_chat_id              = "your-telegram-chat-id"

